<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Add Employee</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to add employee route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="name">Employee Name</label>
              <input id="name" type="text" class="form-control" name="empName">
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input id="age" type="number" class="form-control" name="EmpAge">
            </div>
            <div id= "genderPref" class="form-group">
              <label style="display:block;">Gender</label>
              <label for="gender">Male</label>
              <input id="gender" type="checkbox" class="form-control" value="Male" name="genSel">
              <label for="gender">Female</label>
              <input id="gender" type="checkbox" class="form-control" value="Female" name="genSel">
            </div>
            <div class="form-group">
              <!-- Type set as text since employee ID might be alpha-numeric -->
              <label for="empId">Employee ID</label>
              <input id="empId" type="text" class="form-control" name="empID">
            </div>
            <div class="form-group">
              <label for="currPost">Current Position</label>
              <input id="currPost" type="text" class="form-control" name="currPost">
            </div>
            <div class="form-group">
              <label for="salary">Salary</label>
              <input id="salary" type="number" class="form-control" name="salary">
            </div>
              <div class="form-group">
                <label for="relatedDept">Related Departments</label>
                <input id="relatedDept" type="text" class="form-control" name="relatedDept">
              </div>
              <div class="form-group">
                <label for="moreInfo">Additional Information</label>
                <input id="moreInfo" type="text" class="form-control" name="moreInfo">
              </div>
              <div class="form-group">
            <button type="submit" class="btn btn-dark">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/header') %>
